<template name="profilePageTemplate">
    <div id="profilePage" class="page">
        <div class="container">
            <div class="panel">
                <div class="panel-heading">
                    Profile
                </div>
                This is a profile, yo!
            </div>
        </div>
    </div>
</template>


<!-- routing templates -->
<template name="myProfileTemplate">
    <div id="myProfilePage" class="page">
        <div class="container doesnt-overlap-header">
            {{> userProfileFormTemplate}}
        </div>
    </div>
</template>

<template name="userProfileTemplate">
    <div id="userProfilePage" class="page">
        <div class="container doesnt-overlap-header">
            {{> userProfileFormTemplate}}
        </div>
    </div>
</template>

<template name="searchProfilesTemplate">
    <div id="searchProfilesPage" class="page">
        <div class="container">
            <div class="col col-lg-6 searchPanel">
                {{> profileSearchTemplate }}
            </div>
            <div class="col col-lg-6 sidebarPanel">
                {{> userAccountsListTemplate }}
            </div>
        </div>
    </div>
</template>


<template name="manageProfilesTemplate">
    <div id="manageProfilesPage" class="page">
        {{> manageProfilesPageTemplate}}
    </div>
</template>


<!-- page templates -->
<template name="manageProfilesPageTemplate">
    <div id="searchPanel" class="col col-lg-4">
        {{> profileSearchTemplate }}
    </div>
    <div id="sidebarPanel" class="col col-lg-4">
        {{> userAccountsListTemplate }}
    </div>
    <div id="formPanel" class="col col-lg-4">
        {{> userProfileFormTemplate }}
    </div>
</template>


<template name="userAccountsListTemplate" class="doesnt-overlap-footer">
    <div>
        <ul id="userProfilesList" class="plain with-bottom-padding">
            {{#each userAccountsList}}
            {{> userAccountCardTemplate }}
            {{/each}}
        </ul>
    </div>
</template>



<template name="userAccountCardTemplate">
    <li class="clickable dynamic user-account-card">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ username }}
            </div>
            <img class="users_list_image" src="{{ profile.avatar }}">

            {{!#if isPublic }}
            {{!else}}
            <!--<img class="users_list_image" src="{{ userlist_avatar_for_account_type }}">-->
            {{!/if}}

            <div class="panel-content">
                {{ profile.name }}<br>
                <span class="gray-text">{{ primary_email }}</span><br>
                <span class="gray-text">{{ profile.role }}</span><br>
                <span class="gray-text">{{ profile.interests }}</span><br>
            </div>
        </div>
    </li>
</template>



<template name="userProfileFormTemplate">
    {{#if userProfile}}
        {{#with userProfile}}
            <div class="panel panel-success">
                <div class="panel-heading padded">
                    <bold>User Profile</bold>
                    <div class="pull-right">{{ profile.role }}</div>
                </div>

                <div id="userProfileInputs" class="whitepaper">

                    <div class="row">
                        <div class="col col-lg-3 with-bottom-spacer">
                            <div class="padded">
                                {{#if isPublic }}
                                <img class="fullwidth clickable profile-image gray with-rounded-corners" src="{{ profile.avatar }}">
                                {{else}}
                                <img class="fullwidth clickable profile-image gray with-rounded-corners" src="{{ avatar_for_account_type }}">
                                {{/if}}
                            </div>
                        </div>
                        <div class="col col-lg-9 with-top-padding">

                            <input id="usernameInput" type="text" placeholder="jdoe" value="{{username}}" {{username_enabled}}></input>
                            <!--<label class="smallgray" for="usernameInput">Username</label>-->
                            <br>

                                {{#if isPublic }}
                                <input id="nameInput" type="text" placeholder="Jane Doe" value="{{ profile.name }}"  {{profile_name_enabled}}></input>
                                <!--<label class="smallgray" for="nameInput">Full Name</label>-->
                                <br>

                                <input id="primaryEmailInput" type="email" placeholder="janedoe@somewhere.edu" value="{{ primary_email }}"  {{ primary_email_enabled }}></input>
                                <!--<label class="smallgray" for="primaryEmailInput">Email</label>-->
                                {{/if}}
                                <br>

                            <!--<input id="applicantTypeInput" type="text" placeholder="Egg Donor" value="{{ profile.applicantType }}"  {{profile_applicant_type_enabled}}></input>-->
                            <!--<label class="smallgray" for="applicantTypeInput">Applicant Type</label>-->
                        </div>
                    </div>
                </div>
            </div>
            {{#if isAdmin }}
            <div class="padded panel control-buttons">
                <div class="row">
                    <div class="col col-lg-4 with-btn-spacer">
                        <div class="set-admin-btn fullwidth btn {{ adminCardButtonActive }}">Admin</div>
                    </div>
                    <div class="col col-lg-4 with-btn-spacer">
                        <div class="set-editor-btn fullwidth btn {{ editorCardButtonActive }}">Editor</div>
                    </div>
                    <div class="col col-lg-4 with-btn-spacer">
                        <div class="set-collaborator-btn fullwidth btn {{ collaboratorCardButtonActive }}">Collaborator</div>
                    </div>
                </div>
            </div>
            {{/if }}

            <!--<div class="padded panel control-buttons">-->
                <!--<div class="row">-->
                    <!--&lt;!&ndash;<div class="col col-lg-3 with-btn-spacer">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="dictionary-btn fullwidth btn btn-success">Main Dictionary</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col col-lg-3 with-btn-spacer">-->
                        <!--<div class="flagged-btn fullwidth btn btn-default">Flagged</div>-->
                    <!--</div>-->
                    <!--{{#if isAdmin }}-->
                        <!--<div class="col col-lg-3 with-btn-spacer">-->
                            <!--<div class="search-btn fullwidth btn btn-default">Search</div>-->
                        <!--</div>-->
                        <!--<div class="col col-lg-3 with-btn-spacer">-->
                            <!--<div class="manage-btn fullwidth btn btn-info">Manage</div>-->
                        <!--</div>-->
                        <!--<div class="col col-lg-3 with-btn-spacer">-->
                            <!--<div class="deleted-btn fullwidth btn btn-default">Deleted</div>-->
                        <!--</div>-->
                    <!--{{/if}}-->
                    <!--<div class="col col-lg-3 with-btn-spacer">-->
                        <!--<div class="approved-btn fullwidth btn btn-default">Approved</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->



    {{#if isAdmin }}
            <div class="panel panel-danger">
                <div class="panel-heading padded">
                    <bold>Demographics</bold>
                </div>
                <div id="userProfileDemographicsInputs" class="whitepaper">
                    <div class="row">
                        <div class="col col-lg-6">
                            <input id="addressInput" type="text" placeholder="123 Main St." value="{{ profile.address }}"  {{profile_address_enabled}}></input>
                            <br>
                            <!--<label class="smallgray" for="addressInput">Address</label>-->

                            <input id="cityInput" type="text" placeholder="Somewhere" value="{{ profile.city }}"  {{profile_city_enabled}}></input>
                            <br>
                            <!--<label class="smallgray" for="cityInput">City</label>-->

                            <input id="stateInput" type="text" placeholder="NY" value="{{ profile.state }}"  {{profile_state_enabled}}></input>
                            <br>
                            <!--<label class="smallgray" for="stateInput">State</label>-->

                            <input id="zipInput" type="text" placeholder="11100" value="{{ profile.zip }}"  {{profile_zip_enabled}}></input>
                            <!--<label class="smallgray" for="zipInput">Zip</label>-->
                        </div>
                        <div class="col col-lg-6">
                            <input id="socialSecurityInput" type="text" placeholder="123-45-6789" value="{{ profile.socialsecurity }}"  {{profile_socialsecurity_enabled}}></input>
                            <br>
                            <!--<label class="smallgray" for="socialSecurityInput">SSN</label>-->

                            <input id="workPhoneInput" type="tel" placeholder="212-555-1234" value="{{ profile.workphone }}"  {{profile_workphone_enabled}}></input>
                            <br>
                            <!--<label class="smallgray" for="workPhoneInput">Work Phone</label>-->

                            <input id="homePhoneInput" type="tel" placeholder="333-555-1234" value="{{ profile.workphone }}"  {{profile_homephone_enabled}}></input>
                            <br>
                            <!--<label class="smallgray" for="homePhoneInput">Home Phone</label>-->

                            <input id="mobilePhoneInput" type="tel" placeholder="773-555-1234" value="{{ profile.workphone }}"  {{profile_mobilephone_enabled}}></input>
                            <!--<label class="smallgray" for="mobilePhoneInput">Mobile Phone</label>-->
                        </div>
                    </div>
                </div>
            </div>
            {{/if }}
        {{/with}}
    {{/if}}
</template>














